/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

/*Splash Screen for track*/
#splash-track-list{
	width: 100vw;
	height: 100vh;
  color: white;
  text-align: center;
	background-color: white;
	position: relative;
	z-index: 1;
  display: none;
}

/*Track list div*/
#track-list {
  height: 100vh;
  display: none;
  background-color: white;
  z-index: 1;
  display: inline-block;
}

/*Table for tracks*/
#track-list table {
	width: 1000px;
	text-align: left;
  background-color: #0F1010;
	border: solid 1px white;
}

/*Used for first row of track list*/
#track-list th { 
  color: white; 
  font-size: 12px;
}

#track-list tr {
  color: white;
  font-size: 12px;
}

