#nav {
  width: 150px;
  height: 500px;
  margin: 0px;
  padding: 0px;
  border:1px solid white;
  float: left;
}

#nav-list {
  width: 150px;
  height: 500px;
  margin: 0px;
  padding: 0px;
  border: 1px solid blue;
}

#nav-button {
  width: 100px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border: 1px solid yellow;
  background: white 10px 10px / 20px 20px no-repeat;
  background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
  background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
}

#nav-playlist {
  width: 100px;
  height: 200px;
  margin: 0px;
  padding: 0px;
  display: none;
  opacity: 0.9;


}
#nav-playlist-head {
  width: 140px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  color:blue;
  border: 1px solid green;
  border-top-right-radius: 50px 50px;
  border-top-left-radius: 50px 50px;
  border-bottom-right-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
}

/*#nav-playlist button {
  width: 50px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  color:white;
  display: none;
  opacity: 0.9;
}*/