/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

#splash-screen {
  width: 100vw;
  height: 100vh;
  /*background-image: url("../images/edcSplashScreen.jpg");*/
  background-color: black;
/*  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;*/
}